.contactUsPageContent{
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contactUsPageTitleContainer{
	position:absolute;
	top: 3vh;
	left: 15vw;
	box-sizing: content-box;
	background-color: #FFFFFF;
	z-index: 1;
	width: 200px;
	height: 30px;
}

.contactUsPageTitle{ 
	font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}

.contactUsPageContainer{
	position: relative;
	height: 90vh;
	width: 95vw;
	border: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	display: flex;
	flex-direction: column;
}

.emailContainer{
	display: flex;
	flex-direction: row;
	width: 50vw;
	height: 10vh;
	margin-top:15vh;
	margin-right:25vw;
	margin-left:10vw;
	margin-bottom:2vh;
	text-align: right;
}

.emailInputContainer{
	height: 40px;
	width: 30vw;
}

.emailInputBox{
	height:10px;
	width: 20px;
}

.emailLabelContainer{
	height: 8vh;
	width: 15vw;
	margin-left:auto;
	margin-right:auto;
}

.emailText{
	height: 3vh;
	width: 4vh;
	font-family: Arial Black;
	font-style: normal;
	font-size:16px;
	font-weight: 900;
	line-height: 20px;
}

.emailInputBox{
	font-family: Arial Black;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	width: 40vw;
	height: 2vw;
	color: rgba(0, 0, 0, 0.7);
}

.messageContainer{
	display: flex;
	flex-direction: row;
	width: 50vw;
	height: 35vh;
	margin-top:0;
	margin-right:25vw;
	margin-left:10vw;
	margin-bottom:auto;
	text-align: right;
}

.messageLabelContainer{
	height: 8vh;
	width: 15vw;
	margin-left:auto;
	margin-right:auto;
}

.messageText{
	height:4vh;
	width:4vw;
	font-family: Arial Black;
	font-style: normal;
	font-size:16px;
}

.messageInputContainer{
	height: 35vh;
	width: 30vw;
}

.messageInputBox{
	font-family: Arial Black;
	font-style: normal;
	font-weight: 900;
	font-size: 16px;
	text-align: left;
	line-height: 24px;
	width: 40vw;
	height: 18vw;
	color: rgba(0, 0, 0, 0.7);
}

.buttonContainer{
	flex-direction: row;
}

.submitButton{
	font-family: Arial Black;
    font-style: normal;
	font-weight: 900;
    font-size: 24px;
    line-height: 20px;
    width: 200px;
    height: 60px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #0094FF;
    border: 1px solid #000000;
    box-sizing: border-box;
	margin-bottom:3vh;
}
.submitButton:hover{
    transform: scale(1.1);
}

.goBackButton{
	font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 34px;
    width: 200px;
    height: 60px;
    align-items: center;
    text-align: center;
    color: #c7c7c7;
    border: 1px solid #000000;
    box-sizing: border-box;
	margin-top:auto;
	margin-right:40%;
	margin-left:auto;
	margin-bottom:3vh;
}
.goBackButton:hover{
	transform: scale(1.1);
}

@media screen and (max-width: 900px){
	.emailContainer{
		flex-direction: column;
		justify-content: left;
		margin-left: 18%;
		margin-right: auto;
		margin-top: auto;
		margin-bottom:auto;
	}
	.emailLabelContainer{
		width: 45vw;
		margin-left: 0;
		text-align: left;
		margin-right: 10vw;
	}
	.emailText{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: auto;
		margin-right: auto;
		width: 20vw;
		height: 5vh;
	}
	.emailInputContainer{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 0;
		margin-right: auto;
		width: 20vw;
	}
	.messageContainer{
		flex-direction: column;
		justify-content: left;
		margin-left: 18%;
		margin-right: auto;
		margin-top:2vh;
		margin-bottom: auto;
	}
	.messageLabelContainer{
		width: 9vw;
		margin-left: 0;
		justify-content: left;
	}
	.messageInputBox{
		width: 200%;
	}
	.emailInputBox{
		width: 300%;
	}
	.goBackButton{
		margin-right: auto;
	}
	
}