.searchCriteriaPageContainer{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.searchPlatformSelectionTitleContainer{
    position: absolute;
    top: 1vh;
    left: 15vw;
    box-sizing: content-box;
    background-color: #FFFFFF;
    z-index: 1;
    width: 360px;
    height: 30px;
}
.searchPlatformSelectionTitle{
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
}
.searchCriteriaPlatformSelectionContainer{
    position: relative;
    height: 85%;
    width: 95vw;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.navButtons{
    height: 100px;
    width: 300px;
    padding-bottom: 20px;
}
.platformSearchContentContainer{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}
.platformLabel{
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    margin-right: 30px;
}
.platformSelector{
    width: 240px;
    height: 55px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}
.searchTypeLabel{
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    margin-right: 30px;
}
.searchTypeSelector{
    width: 240px;
    height: 55px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
}
.searchCriteriaFormContentContainer{
    width: 90vw;
    height: 60vh;
}
.searchCriteriaFormLabelContainer{
    position: relative;
    top: 2vh;
    left: 5vw;
    box-sizing: content-box;
    background-color: #FFFFFF;
    z-index: 1;
    width: 360px;
    height: 30px;
}
.searchCriteriaFormLabel{
    font-family: Arial Black;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
}
.searchCriteriaFormContainer{
    position: relative;
    height: 60vh;
    width: 85vw;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.searchByContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    padding-left: 20px;
    padding-right: 20px;
}
.searchByLabel{
    font-family: Arial Black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
}
.searchByInput div{
    user-select: none;
    cursor: pointer;
    display: flex;
    margin: 10px;
}
.searchByInput div label{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    background-color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid black;
}
.searchByInput div input[type=checkbox]{
    display: none;
}
.searchByInput div input[type=checkbox]:checked + label{
    background: #0094FF;
    color: #FFFFFF;
    border: 1px solid #0094FF;
}
.searchCriteriaContainer{
    display: flex;
    flex-direction: column;
}
.dateSelectionContainer{
    display: flex;
    height: 35vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.searchButtonContainer{
    padding-top: 1%;
    padding-bottom: 1%;
}
.searchButton{
    width: 200px;
    height: 60px;
    background: #0094FF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Arial Black;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: #FFFFFF;
    cursor: pointer;
}